streamlit
fastapi
uvicorn
sqlalchemy
python-dotenv
pydantic
pydantic-settings
bcrypt
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-genai
faiss-cpu
sentence-transformers
numpy
pandas
plotly
requests
PyPDF2
python-docx
aiofiles
httpx